   /* 
 Name: Hailey Haiducek
 File: homework1.css
 Date Created: 6/17/2026
 Date Updated: 6/17/2026
 Purpose: Style sheet for patient registration form
 */
body {
    background-color: lightblue;
    font-family: "Source Sans Pro", sans-serif;
}
 h1 {
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: black;
}

#header {
        background-color: darkblue;
        text-align: center;
}
#footer {
        background-color: darkblue;
        text-align: center;
}
.form {
        background-color: white;
}
#logo {
    width: 100px;
}

.textsize1 
{
    width:10px
}
.textsize5 
{
    width:40px
}
